*{
    box-sizing: border-box;
}
body {
    font-family: Arial;
    font-size: medium;
    background-color: #08081f;
}

.title h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 32px;
    color: dodgerblue;
    text-align: center;
}
.first{
    font-size: xx-large;
    color: rgb(118, 99, 240);
    font-family: 'Press Start 2P', cursive;

}
h3 {
    text-align: center;
    color: linen;
    font-family: 'Press Start 2P', monospace;
    letter-spacing: 1px;

}

.title p {
    font-weight: bold;
    color: lightslategray;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
}

.avatar img {
    border-radius: 34%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: lightslategrey;
}

.intro p {
    color: cornsilk;
    text-align: center;
    background-color: rgb(9, 9, 102);
    padding: 10px;
    padding-right: 10%;
    border-radius: 8px;
    display: block;
    margin-left: 10%;
    margin-right: auto;
    font-family: 'Press Start 2P','Josefin Sans', sans-serif;
    line-height: 1.75;
    font-size: medium;
    font-weight: 100;
    margin-bottom: 10px;
}

.social img {
    border-radius: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.social {
    background-color: rgb(9, 9, 102);
    display: block;
    margin-right: 10%;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 1px;
    padding-top: 1px;
}

.social p {
    font-weight: bold;
    color: darkgrey;
    text-align: center;
}

footer {
    background-color: darkslateblue;
    display: block;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: auto;
    border-radius: 8px;
    padding: 5px;
    color: lightslategray;
    text-align: center;
}